<html>
<script type="text/javascript">
	function validation()
	{
		var alphabets=/^[a-zA-Z]+$/;
		var num=/^[0-9]+$/;

		var name=document.getElementById("name");
		var picture=document.getElementById("picture");
		var price=document.getElementById("price");
		var details=document.getElementById("details");
		var stock=document.getElementById("stock");
		var category=document.getElementById("category")
		if(name.value.length==0)
		{
			alert("Enter the name of the product");
			name.focus();
			return false();
		}
		else if(!name.value.match(alphabets))
		{
			alert("Enter a valid name");
			name.focus();
			return false;
		}
		else if(picture.value.length==0)
		{
			alert("Please upload the image");
			picture.focus();
			return false;
		}
		else if(price.value.length==0)
		{
			alert("Enter the price")
			price.focus();
			return false;
		}
		else if(!price.value.match(num))
		{
			alert("Enter a valid price");
			price.focus();
			return false;
		}
		else if(details.value.length==0)
		{
			alert("Please Enter the details of the product")
			details.focus();
			return false;		
		}
		else if(stock.value.length==0)
		{
			alert("Enter stock of the product");
			stock.focus();
			return false();
		}
		else if(!stock.value.match(num))
		{
			alert("Enter valid number");
			stock.focus();
			return false;
		}
		else if(category.value.length==0)
		{
			alert("Select the category")
			category.focus();
			return false;
		}
		else
		{
			return true;
		}
	}

	
</script>
	<body>
		<form method="post" action="{% url 'addProductAction' %}" enctype="multipart/form-data">
		{% csrf_token %}
			<table>
				<tr>
					<td>Product Name</td>
					<td><input type="text" name="name" id="name">
					</td>
				</tr>
				<tr>
					<td>Picture</td>
					<td><input type="file" name="picture" id="picture">
					</td>
				</tr>
				<tr>
					<td>Price</td>
					<td><input type="text" name="price" id="price">
					</td>
				</tr>
				<tr>
					<td>Details of Product</td>
					<td><textarea name="details" rows="30" cols="30" id="details"></textarea>
					</td>
				</tr>
				<tr>
					<td>Stock</td>
					<td><input type="text" name="stock" id="stock">
					</td>
				</tr>
				<tr>
					<td>Category</td>
					<td><select name="category" id="category">
						<option value="">-----options----</option>
						{% for v in data %}
						<option value="{{v.id}}">{{v.category_name}}</option>
						{% endfor %}
					       </select>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="addproduct" onclick="return validation()" ><td>
				</tr>
			</table>
		</form>
	</body>
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
</html>