<html>
<script type="text/javascript">
	function validation()
	{
		var username=document.getElementById("username");
		if(username.value.length==0)
			{
				alert("Enter the username");
				username.focus();
				return false;
			}
		else
			{
				return true;
			}
	}
</script>
	<body>
		<form method="post" action="{% url 'forgotPasswordUsernameCheck' %}">
		{% csrf_token %}
			<table>
				<tr>
					<td>Enter user name</td>
					<td><input type="text" name="username" id="username"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="submit" onclick="return validation()"></td>
				</tr>
			</table>
		</form>
	</body>
{% if messages%}
	{% for msg in mesages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
</html>