<html>
<script type="text/javascript">
	function validation()
	{
		var password=document.getElementById("password");
		var newpassword=document.getElementById("newpassword");
		if(password.value.length==0)
		{
			alert("enter password");
			password.focus();
			return false;
		}
		else if(newpassword.value.length==0)
		{
			alert("enter password");
			newpassword.focus();
			return false;
		}
		else
		{
			return true;
		}
	}
</script>
	<body>
		<form method="post" action="{% url 'newpasswordAction' %}">
		{% csrf_token %}
			<table>
				
				<input type="hidden" name="username" value="{{data}}">
			
				<tr>
					<td>New Password</td>
					<td><input type="password" name="password" id="password"></td>
				</tr>
				<tr>
					<td>Confrom Password</td>
					<td><input type="password" name="newpassword" id="newpassword"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="button" value="submit" onclick="return validation()"></td>
				</tr>
			</table>
		</form>
	</body>
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor%}
{% endif %}
</html>