<html>
	<body>
		<table>
			<tr>
				<th>Name</th>
				<th>Picture</th>
				<th>Price</th>
				<th>Details</th>
				<th>Stock</th>
				<th>Category Id</th>
				
			</tr>
			{% for v in data %}
			<tr>
				<td>{{v.name}}</td>
				<td><img src="{{v.picture.url}}" height="100px" width="100px" alt="no pic"></td>
				<td>{{v.price}}</td>
				<td>{{v.details}}</td>
				<td>{{v.stock}}</td>
				<td>{{v.categoryid.id}}</td>
				<td><a href="{% url 'delete' v.id %}">Delete</a></td>
				<td><a href="{% url 'edit' v.id %}">Edit</a></td>
			</tr>
			{% endfor %}		
		</table>
	</body>
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor%}
{% endif%}
</html>