<html>
	<body>
		<form>
			<table>
				<tr>
					<th>Name</th>
					<th>Picture</th>
					<th>Price</th>
					<th>Details of the product</th>
					<th>stock</th>
					<th>categoryid</th>
					<th>sellerid</th>
				</tr>
				{% for v in data %}
				<tr>
					<td>{{v.name}}</td>
					<td><img src="{{v.picture.url}}" height="100px" width="100px" alt="no pic"></td>
					<td>{{v.price}}</td>
					<td>{{v.details}}</td>
					<td>{{v.stock}}</td>
					<td>{{v.categoryid.id}}</td>
					<td>{{v.sellerid.id}}</td>
					<td><a href="{% url 'addtocart' v.id %}">Add to cart</a></td>
				</tr>
				{% endfor %}
			</table>
		</form>
		<li><a href="{% url 'viewCart' %}">View Cart</a></li>
	</body>
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
</html>